:root {
	--hide: none;
	--view: block;
	/* light, background */
	--color1: #FFF6EA;
	/* dark, text/border */
	--color2: #10234E;
	/* light, shadows */
	--color3: #6f9aa6;
	/* light, transparent, highlights */
	--color4: #6f9aa67f;
}

/*
* fonts:
* font-family: 'Della Respira', serif; basic body font
* font-family: 'Fondamento', cursive; calligraphy not cursive
* font-family: 'Macondo', cursive; handwriting fancyish
* font-family: 'Satisfy', cursive; handwriting cursive

*/

html,
body {
	font-family: 'Della Respira', serif;
	background-color: var(--color1);
	overflow-x: clip;
	color: var(--color2) !important;
}


.container {
	display: flex;
	justify-content: flex-start;
	flex-direction: row;
}

img.bottomBorder {
	width: 20vw;
	height: 20vh;
	object-fit: cover;

}

.logo {
	line-height: var(--topBarHeight);
	font-size: 5vh;
	width: fit-content;
	margin-left: auto;
	margin-right: auto;
}

/* .fancyUnderline {
	text-decoration: none;
	background-image: url("underline.png");
	background-position: 0 2em;
	background-size: 15px;
	background-repeat: repeat-x;
} */

a {
	color: var(--color2);
	text-decoration: none;
	position: relative;
}

a::before {
	/* makes the "underline" behind the text */
	z-index: -1;
	content: '';
	position: absolute;
	top: 50%;
	right: 25%;
	width: 0;
	height: 10px;
	background-color: var(--color4);
	transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
}

@media (hover: hover) and (pointer: fine) {
	a:hover::before {
		left: 25%;
		right: 25%;
		width: 50%;
	}
}

/* a:active {}

a:visited {} */

.spacerSpan {
	margin-right: 25px;
	margin-left: 25px;
}

.centerText {
	text-align: center;
}

/*responsive screen size*/
@media only screen and (max-width: 992px) {
	.logo {
		font-size: xx-large;
	}

	.container {
		justify-content: center;
		flex-wrap: wrap;
	}
}

.sectionText {
	border: 0 solid;
	margin: 5vh auto;
	border-radius: 25px;
	padding: 15px;
	box-shadow: 0 4px 8px 0 var(--color2), 0 6px 20px var(--color2);
	width: 40%;
}

.sectionText2 {
	border: 5px solid var(--color3);
	margin: 10px auto;
	border-radius: 25px;
	padding: 15px;
	width: 70%;
}

.sectionText3 {
	margin: 10px auto;
	padding: 15px;
	width: 70%;
}