:root {
	--hide: none;
	--view: block;
	/* light, background */
	--color1: #FFF6EA;
	/* dark, text/border */
	--color2: #10234E;
	/* light, shadows */
	--color3: #6792BB;
	/* light, transparent, highlights */
	--color4: #6792bb81;
	/* height of the navbar in webpage mode */
	--topBarHeight: 15vh;
}

/*
* fonts:
* font-family: 'Della Respira', serif; basic body font
* font-family: 'Fondamento', cursive; calligraphy not cursive
* font-family: 'Macondo', cursive; handwriting fancyish
* font-family: 'Satisfy', cursive; handwriting cursive

*/

html,
body {
	font-family: 'Della Respira', serif;
	background-color: var(--color1);
	overflow-x: clip;
	color: var(--color2) !important;
}

/* topBar */
.top {
	top: 0px;
	position: sticky;
	z-index: 1;
	left: 0pt;
	width: 100%;
	height: var(--topBarHeight);
	background-color: var(--color1);
	box-shadow: 0 8px 10px 0 var(--color2),
		0 6px 15px 0 var(--color2);
}

.container {
	display: flex;
	justify-content: flex-start;
	flex-direction: row;
}

img {
	height: var(--topBarHeight);
}

.logo {
	line-height: var(--topBarHeight);
	font-size: 5vh;
	width: fit-content;
	margin-left: auto;
	margin-right: auto;
}

/* .fancyUnderline {
	text-decoration: none;
	background-image: url("underline.png");
	background-position: 0 2em;
	background-size: 15px;
	background-repeat: repeat-x;
} */

/*buttons on menu*/
.menuButton {
	margin-top: auto;
	margin-bottom: auto;
	cursor: pointer;
	line-height: 5vh;

}

a {
	color: var(--color2);
	text-decoration: none;
	position: relative;
}

a::before {
	/* makes the "underline" behind the text */
	z-index: -1;
	content: '';
	position: absolute;
	top: 50%;
	right: 25%;
	width: 0;
	height: 10px;
	background-color: var(--color4);
	transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
}

@media (hover: hover) and (pointer: fine) {
	a:hover::before {
		left: 25%;
		right: 25%;
		width: 50%;
	}
}

a:active {}

a:visited {}

.spacerSpan {
	margin-right: 25px;
	margin-left: 25px;
}

.centerText {
	text-align: center;
}

/*responsive screen size*/
@media only screen and (max-width: 992px) {
	.logo {
		font-size: xx-large;
	}
}

@media only screen and (max-width: 700px) {
	.top {
		height: fit-content;
	}

	#logo_flower {
		display: none;
	}

	.container {
		justify-content: center;
		flex-wrap: wrap;
	}
}

.sectionText {
	border: 2px solid var(--color3);
	margin: 5vh 10vw;
	width: 30%;
	border-radius: 25px;
}