:root {
	--hide: none;
	--view: block;
	/* light, background */
	--color1: #FFF6EA;
	/* dark, text/border */
	--color2: #10234E;
	/* light, shadows */
	--color3: #6792BB;
	--color4: ;
	--topBarHeight: 15vh;
}

html,
body {
	font-family: 'Della Respira', serif;
	overflow-x: hidden;
}

img {
	height: var(--topBarHeight);
}

.logo {
	display: inline-block;
	position: absolute;
	height: var(--topBarHeight);
	line-height: var(--topBarHeight);
	font-size: x-large;
}

/* topBar */
.topBar {
	z-index: 1;
	top: 0px;
	left: 0pt;
	width: 100%;
	height: var(--topBarHeight);
	background-color: var(--color1);
	position: fixed;
	box-shadow: 0 8px 16px 0 var(--color2),
		0 6px 20px 0 var(--color2);
}

.under_the_menu {
	height: 20vh;
}

/*buttons on menu*/
.menuButton {
	cursor: pointer;
	height: var(--topBarHeight);
}

/*hover button on menu full screen*/
/* a.buttons:hover {
	color: #f44336 !important;
	background-color: white;
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2),
		0 6px 20px 0 rgba(0, 0, 0, 0.19);
	text-shadow: none !important;
} */

/*STUFF FOR LITTLE SCREEN*/
/* .smaller {
	z-index: 1;
	display: none;
	top: 10px;
}

ul {
	list-style-type: none;
}

li {
	margin-bottom: 0px;
} */

/*responsive screen size*/
@media only screen and (max-width: 992px) {
	[class*="buttons"] {
		display: none;
	}

	[class*="smaller"] {
		display: block;
	}
}

/*little screen menu*/
.hide {
	display: none;
}

.show {
	margin-top: 50px;
	position: fixed;
	display: block;
	z-index: 1;
}

.titanic {
	float: none;
}













/*small menu buttons, and regular buttons */
/* .button {
	background-color: #f44336;
	color: white;
	border-right: 3px solid white;
	border-left: 3px solid white;
	cursor: pointer;
	display: inline-block;
	width: 100%;
	text-align: center;
	align-self: right;
	text-decoration: none !important;
	padding: 15px;
}

a.button:hover {
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2),
		0 6px 20px 0 rgba(0, 0, 0, 0.19);
	background-color: white;
	color: #f44336;
	text-shadow: none !important;
	border-color: #f44336;
} */

.bottom {
	border-bottom: 3px solid white;
}